<div
  style="
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
  "
>
  <div
    style="
      background: #ffffff;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      max-width: 600px;
      box-sizing: border-box;
      -webkit-text-size-adjust: none;
    "
  >
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="background: #fff; margin: 0; padding: 0; max-width: 600px"
    >
      <tbody>
        <tr>
          <td style="background: #ffffff; padding: 63px 2px 0">
            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td align="center">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td align="left">
                            <img
                              src="https://hancomfrontis.com/img/logo.jpg"
                              width="130"
                              height="50"
                              border="0"
                              alt=""
                              style="display: block"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" height="46"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="left" style="background: #fff; padding: 0">
                    <p
                      style="
                        margin: 0 0 24px;
                        padding: 0;
                        font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                        font-size: 26px;
                        color: #000;
                        letter-spacing: -1px;
                        line-height: 32px;
                        font-weight: bold;
                      "
                    >
                      휴면계정 전환 예정 안내
                    </p>
                    <p
                      style="
                        margin: 0 0 40px;
                        padding: 0;
                        font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                        font-size: 18px;
                        color: #404040;
                        letter-spacing: -1px;
                        line-height: 24px;
                      "
                    >
                      안녕하세요, Moasis입니다. <%= name %>(<%= providerId %>) 님의 Moasis 계정이 곧 휴면계정으로 전환될
                      예정입니다. 개인정보 보호법에 따라 Moasis는 1년 이상 로그인 기록이 없는 계정을 휴면계정으로
                      전환하여 보관함으로써 고객님의 정보를 소중히 보호하고 개인정보를 분리 있습니다. 불편함이
                      없으시도록 휴면 계정 전환을 원하지 않는 경우, Moasis 앱 이용에 전환 예정일 이전에 Moasis 앱을 통해
                      로그인 해주시기 바랍니다. 가능합니다. 휴면계정 전환 이후에는 이메일 인증을 통해 휴면 해제 후
                      서비스 이용이 - 전환 예정 계정 아이디: <%= providerId %> - 휴면 전환 예정일: <%= date %> - 관련
                      법령: 개인정보 보호법 제 39조의 6 제 1항, 개인정보 보호법 시행령 제 48조의 5 제 1항 - 개인정보
                      보호 대상: 이름, 이메일 등 회원 가입시 입력한 개인정보 본 메일은 관련법령(정보통신망 이용 촉진 및
                      정보보호 등에 관한 법률 제 29조 제 2항)에 의한 ‘개인정보 유효기간제‘ 시행에 따라 이메일 수신동의
                      여부에 관계없이 발송되었습니다. 본 메일은 발신전용이므로 회신이 되지 않습니다. 관련 문의사항은
                      고객센터를 이용해 주시기 바랍니다. 감사합니다.
                    </p>

                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border: 0">
                      <tbody>
                        <tr>
                          <td height="56"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="left" style="border-top: 1px solid #ececec; background: #fff; padding: 0 0 72px">
            <p
              style="
                margin: 24px 0;
                padding: 0;
                font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                color: #909090;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: -0.5px;
                text-align: left;
              "
            >
              ©(주)모아이. All Rights Reserved.<br />
              경기도 화성시 동탄영천로 150 현대실리콘앨리 10층<br />
              Tel : 031-518-0725
            </p>
            <div
              style="
                font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                color: #909090;
                font-size: 13px;
                line-height: 16px;
                letter-spacing: -0.5px;
                text-align: left;
              "
            >
              <a
                href="https://hancomfrontis.com/"
                target="_blank"
                style="
                  font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                  color: #909090;
                  font-size: 13px;
                  line-height: 16px;
                  letter-spacing: -0.5px;
                  text-align: left;
                  text-decoration: underline;
                "
                rel="noopener noreferrer"
                >이용약관</a
              >
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <a
                href="https://hancomfrontis.com/"
                target="_blank"
                style="
                  font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
                  color: #909090;
                  font-size: 13px;
                  line-height: 16px;
                  letter-spacing: -0.5px;
                  text-align: left;
                  text-decoration: underline;
                "
                rel="noopener noreferrer"
                >개인정보 처리방침</a
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
